.superInput {

}

.errorInput {
    border: 2px solid #eb63f7;
    margin: 5px;
    width: 200px;
    padding: 10px 15px;
    background: #36dcbe;
    color: #ffffff;
    border-radius: 10px;

}

.error {
    color: red;
}