.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: flex;
    position: absolute;
    background-color: #253137;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 1s ease;
    left: -1000px;
}

.dropdownContent a {
    color: #58a9a9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.active {
    background: aquamarine;
}

.dropdown:hover .dropdownContent {
    left: 0
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}