.default {
    color: black;
}

.red {
    background: red;
}


.button {
    background: transparent;
    color: #3bd9d9;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #3bd9d9;
    border-radius: 5px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.button::before {
    content: '';
    position: absolute;
    background: #3bd9d9;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}

.button:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;
}